<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Libraria mea</title>
          <meta name = "description" content = "Libraria mea ofera diverse tipuri de carti pentru cititori.">
        <meta name = "author" content = "Sava Constantin-Alin">
        <meta name = "keywords" content = "locatie, harta, mail, telefon">
        <%-
            include("../Fragmente/head.ejs");
        %>

        
    </head>

    <body>
        <%- include("../Fragmente/header.ejs"); %> 
        <main>
           <h1>EROARE 403</h1>
           <h2>NU este permis accesul</h2>
        </main>
        <%- include("../Fragmente/footer.ejs"); %> 

       

        
    </body>



</html>