<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Libraria mea</title>
          <meta name = "description" content = "Libraria mea ofera diverse tipuri de carti pentru cititori.">
        <meta name = "author" content = "Sava Constantin-Alin">
        <meta name = "keywords" content = "locatie, harta, mail, telefon">
        <%-
            include("../Fragmente/head.ejs");
        %>

        
    </head>

    <body>
        <%- include("../Fragmente/header.ejs"); %> 
        <main>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843007480064!2d26.097398015523297!3d44.43553547910226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Informatics%20-%20University%20of%20Bucharest!5e0!3m2!1sen!2sro!4v1647270048964!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </main>
        <%- include("../Fragmente/footer.ejs"); %> 

       

        
    </body>



</html>