
#HamburgerMenu{
    
    display: block;
    width: auto;
}

nav ul.meniu{
    display:none;
    position:absolute;
    width:100%;
    height: auto;
}
nav{
    flex-direction: column;
}
#HomeButton span{
    display: none;
}
#HomeButton{
    text-align: center;
    margin: auto;
}


#chbox:checked+ul.meniu{
    display: block;
    z-index: 5;
    position: relative;
     
    animation-name: text-wipe;
    animation-direction:normal;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
#chbox:checked+ul.meniu>li>div,#chbox:checked+ul.meniu>li>a{
    
    z-index: 5;
    position: relative;
}

nav ul.meniu li{
    width:100%;
}

nav ul.meniu>li ul{
    position:absolute;
    width:100%;
    z-index:6;
    transform:scale(1,1);
}

#ch-menu:checked+ul.meniu>li ul>*{
    position:relative;
    z-index:6;
}
nav ul.meniu>li:hover>ul{
    
    z-index:6;
    animation:none;
}



nav ul.meniu>li li a:before{
    content:" \25B7\00A0	";
    color:white;

}

@keyframes text-wipe {
    0% {
        -webkit-mask-image: linear-gradient(to top, #0000 0%, #000 40%);
        -webkit-mask-size: 100%  250%;
        -webkit-mask-origin:content-box;
        -webkit-mask-repeat:no-repeat;  
        -webkit-mask-position: 0% 100%;
    }
    100% {
        -webkit-mask-position:0 0;
    }
}