
$primaryColor: #3BC7DB;
$darker: #2A8C9C;
$lighter: #3FD1E8;
$var123: #19535C;
$var1234: #34AFC2;
$backgroundColor: #CDE6FF;
$navHeight: 2em;

nav {
	position: sticky;
	opacity: 100%;
	z-index: 5;
	font-size: 20px;
	width: 100%;
	height: $navHeight;
	left: 0;
	top: 0;
	display: flex;
	background-color: $lighter;
	* {
		font-size: 20px;
		font-style: normal;
		text-decoration: none;
		color: black;
		margin: 0;
		padding: 0;
		font-style: normal;
		text-decoration: none;
		color: black;
		margin: 0;
		padding: 0;
	}
	ul {
		&.meniu {
			display: flex;
			list-style: none;
			height: $navHeight;
			width: 100%;
			& > li {
				height: $navHeight;
				background-color: $lighter;
				&:hover {
					height: $navHeight;
					ul {
						&.submeniu {
							visibility: visible;
							visibility: visible;
							transform-origin: 50% 0;
							animation-name: a_submeniu;
							animation-iteration-count: 1;
							animation-duration: 0.5s;
							animation-fill-mode: forwards;
							animation-timing-function: linear;
						}
					}
					span {
						color: white;
					}
				}
				& > a {
					padding: 0.3em;
					display: block;
				}
			}
			li {
				a {
					display: block;
					color: black;
					transition: color 0.5s;
					background-color: $lighter;
					&:hover {
						color: white;
					}
				}
			}
		}
		&.submeniu {
			position: relative;
			visibility: hidden;
			display: block;
			list-style: none;
			width: 10em;
			margin: 0;
			padding: 0;
			z-index: 10;
			li {
				display: block;
				height: $navHeight;
				background-color: $lighter;
				z-index: 10;
				& > a {
					padding: 0.3em;
				}
			}
		}
	}
}
span {
	&.HomeButton {
		color: $lighter;
		transition: color 0.5s;
	}
}
#HamburgerMenu {
	margin-left: 1em;
	margin-right: auto;
	display: none;
	height: $navHeight;
	img {
		height: $navHeight;
	}
}
#chbox {
	display: none;
}
@keyframes a_submeniu {
	0%{
        opacity: 0.5;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
}
}
