<footer>
    <address>
        <p>Numar de telefon:<a href="tel:0770123456">0770123456</a></p>
        <p>Adresa:<a href="https://goo.gl/maps/k1KU7iGDQj2Xk25z9" target="_blank">Facultatea de matematica si informatica <i class="far fa-compass fa-spin"></i> </a></p>
        <p>Email:<a href="mailto:LibrarieOnline@Librarie.com">LibrarieOnline@Librarie.com</a></p>
        <p>Skype:<a href= "skype:live:LibrarieOnlineSkype@Librarie.com">LibrarieOnlineSkype@Librarie.com</a></p>
    </address>
    <small>&copy;Sava Constantin-Alin<br>Creat la data de: <time datetime="2022-02-19">19 Februarie 2022</time></small><br>


    <a id = "top" href="#" title="Hai sus"><div></div></a>

</footer>