
<p id="watermark">Sava <br> Constantin-Alin</p>
<script>
    var tema = localStorage.getItem("tema");
    if (tema)
        document.body.classList.add(tema);
    else 
        document.body.classList.remove("dark");
</script>
<header>
    <div id = "container_banner">
        <div id = "banner">
            <h1>NUMELE SITEULUI MEU FRUMOS</h1>
            <p>Ip-ul tau este: <%- locals.ip %> </p>
            <%- locals.imagini %>
            <p><button id = "buttonTema">Schimbare tema</button></p>

        </div>
    </div>
 </header>
 <nav>
         <label id = "HamburgerMenu" for="chbox">
             <img src="Resurse/Imagini/HamburgerIcon.jpg">
             
         </label>
         <input id="chbox" type="checkbox">
         <ul class = "meniu">
             <li><a href="index" id="HomeButton">&#128366; <span class = "HomeButton">Home</span></a>
                 <ul class = "submeniu">
                     <li><a href = "/index#BunVenit">Bun Venit</a></li>
                     <li><a href = "/index#Prezentare">Prezentare</a></li>
                     <li><a href = "/index#OferteSpeciale">OferteSpeciale</a></li>
                     <li><a href = "/index#IntrebariFrecvente">IntrebariFrecvente</a></li>
                     <li><a href = "/index#Orar">Orar</a></li>
                 </ul>
             </li>
             
             <li><a href="/produse">Cumpara</a>
                 <ul class = "submeniu">
                    <% for (let cat of locals.categorii) { %>
                    <li><a href="/produse?tip=<%- cat.unnest %>"><%- cat.unnest %></a></li>
                    <% } %>
                 </ul>
             </li>
             <li><a href="/contact">Contact</a> 
                 <ul class = "submeniu">
                     <li><a href = "/contact#Email">Email</a></li>
                     <li><a href = "/contact#NumarTelefon">Numar de telefon</a></li>
                     <li><a href = "/contact#Locatie">Locatie</a></li>
                 </ul>
             </li>
             <% if(locals.utilizator){ %> 
             <li>
                    <a href="/login">Login</a>
                    <ul class = "submeniu">
                        <li><a href = "/profil">Profil</a></li>
                        <li><a href = "/logout">Logout</a></li>
                    </ul>
             </li>
             <% } 
            else { %>
                <li>
                    <a href="/login">Login</a>
                </li>
            <% } %> 
             <li>
                    <a href="/inregistrare">Inregistrare</a>
             </li>
         </ul>
         
             

     </nav>